<div class="box">
  <h1>Sign In</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <br>
    <strong><%= f.label :email %></strong>
    <%= f.text_field :email %><br><br>
  </div>
  <div class="field">
    <strong><%= f.label :password %></strong>
    <%= f.password_field :password %><br><br>
  </div>
  <div class="actions">
    <%= f.submit "Sign in",class:'small nice blue radius button' %>
  </div>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>