<br>
<div class="field">
  <strong><%= f.label :name, "Username"%></strong>
  <%= f.text_field :name %><br><br>
</div>
<div class="field">
  <strong><%= f.label :email %></strong>
  <%= f.text_field :email %><br><br>
</div>
<div class="field">
  <strong><%= f.label :password %></strong>
  <%= f.password_field :password %><br><br>
</div>
<div class="field">
  <strong><%= f.label :password_confirmation, "Confirm Password" %></strong>
  <%= f.password_field :password_confirmation %><br><br>
</div>
<div class="field">
  <strong><%= f.label :sharecode, "Sharecode" %></strong>
  <%= f.text_field :sharecode %><br><br>
</div>