<br><br><br><%= link_to "Schedule my Classes!", scheduling_course_path, class:'medium nice blue radius button' %>
<div class=box>
  
  <h1><%= @user.name %></h1>
      <strong>Sharecode:</strong> <%= @user.sharecode %><br><br>
      <%= link_to "Edit Account",edit_user_path(current_user), class:'small nice white radius button' %></div>
      
<div class="allbox">
      <% if @user==current_user %>
        <%= render :partial => 'shared/scheduleupdated' %>
      <% end %>
  </div>


