  <% @schedules.each do |schedule| %>
  <h2>Schedule</h2>
  <h4>Metrics</h4>
  <strong>Course:</strong> <%= schedule.avg_course_rating %><br>
  <strong>Instructor:</strong> <%= schedule.avg_instructor_rating %><br>
  <strong>Difficulty:</strong> <%= schedule.avg_difficulty_rating %><br><br>
  <strong>Earliest Start: </strong> <%= schedule.earliest_start_time %> <br><br>
  <strong>Latest End Time: </strong> <%= schedule.latest_end_time %> <br><br>
  <h4>Sections: </h4>
    <% schedule.sections.each do |section| %>
        <% course = section.course %>
        <%= course.department %> <%= course.number_to_s %> <%= section.listing_to_s %> -
            <% section.meetings.each do |meeting| %>
                <li>
                <%= meeting.start_time_to_s %> to <%= meeting.end_time_to_s %> on <%= meeting.day_to_s %>
                </li>
            <% end %>   
    <% end %>
    <h4> Recitations: </h4><br>
    <% schedule.recitations.each do |recitation| %>
        <% course = recitation.course %>
        <%= course.department %> <%= course.number_to_s %> <%= recitation.listing_to_s %> -
            <% recitation.meetings.each do |meeting| %>
                <li>
                <%= meeting.start_time_to_s %> to <%= meeting.end_time_to_s %> on <%= meeting.day_to_s %>
                </li>
            <% end %>   
    <% end %>
 <% end %>
<br>