  <%i=1%>
  <% @schedules.each do |schedule| %>
  <h3 style=><u>Schedule <%=i%></u></h3>
  <div class="metricbox"><h5>Metrics</h5>
    <div style="text-align:left;">
  <strong>Course:</strong> <%= schedule.avg_course_rating %><br>
  <strong>Instructor:</strong> <%= schedule.avg_instructor_rating %><br>
  <strong>Difficulty:</strong> <%= schedule.avg_difficulty_rating %><br><br></div></div><br>
  <%i+=1%> 

<div class="schedulebox">
<%earliest_end_time= schedule.earliest_start_time %> 
<%latest_end_time= schedule.latest_end_time + 1.0 %>
<div class="grid">
    
    <div class="row">
<div class="headercell" style="width: 100px;"></div>
<div class="headercell" style="width: 100px;">Monday</div>
<div class="headercell" style="width: 100px;">Tuesday</div>
<div class="headercell" style="width: 100px;">Wednesday</div>
<div class="headercell" style="width: 100px;">Thursday</div>
<div class="headercell" style="width: 100px;">Friday</div>
</div>

<%while earliest_end_time<latest_end_time%>
<%hr = (earliest_end_time*10.0).round / 10%>
<%min = (((earliest_end_time - hr) * 60)/10).round%>
<%if hr<=12 then time="#{hr}:#{min}0am"%>
    <%end%>
<%if hr>=12 then time="#{hr % 12}:#{min}0pm"%>
    <%end%>
<%if hr==12 then time="#{hr}:#{min}0pm"%>
    <%end%>
    
<div class="row">
<div class="cell" style="width: 100px;"><%=time%></div>
<div class="cell" style="width: 100px;"></div>
<div class="cell" style="width: 100px;"></div>
<div class="cell" style="width: 100px;"></div>
<div class="cell" style="width: 100px;"></div>
<div class="cell" style="width: 100px;"></div>
</div>
<%earliest_end_time+=0.5%>
<%end%>


</div>
    <% color_array = ["#82c9c9", "#98b06e","#dfbb5f","#cf7a7a","#a1d0ee","#c67dd8","#83cea4","#a59cda","#df8d6f","#f98e8e","#998fd1","#8fe5ba","#bbd28b","#f28686","#a0a0a1"] %>
    <% counter = 0 %>
    <% schedule.sections.each do |section| %>
        <% course = section.course %>
            <% section.meetings.each do |meeting| %>
                <div style="position:absolute;left:<%= (100*meeting.day)+2+(2*meeting.day) %>px;top:<%= 24+(2*21*(meeting.start_time-schedule.earliest_start_time)) %>px;height:<%= ((2*21*(meeting.end_time-meeting.start_time))-1) %>px;width:100px;background-color:<%= color_array[counter] %>;text-align:center;color:#000;"><%= course.department %> <%= course.number_to_s %>-<%= section.listing_to_s %></div>  
            <% end %>
            <% counter = counter + 1 %>
    <% end %>
    <% counter1 = 14 %>
    <% schedule.recitations.each do |recitation| %>
        <% course = recitation.course %>
            <% recitation.meetings.each do |meeting| %>
                <div style="position:absolute;left:<%= (100*meeting.day)+2+(2*meeting.day)%>px;top:<%= 24+(2*21*(meeting.start_time-schedule.earliest_start_time))%>px;height:<%= ((2*21*(meeting.end_time-meeting.start_time))-1)%>px;width:100px;background-color:<%= color_array[counter1] %>;text-align:center;color:#000;"><%= course.department %> <%= course.number_to_s %>-<%= recitation.listing_to_s %></div>
            <% counter1 = counter1 - 1 %>
            <% end %>   
    <% end %>
<br><br><br>

<% end %>
<br>
