<h1>Your schedules have been assembled!</h1>

  <div class= "constraintbox">
    <%= render :partial => 'shared/constraint' %>
    <br><br>
    <%= render :partial => 'shared/timing' %>
    <br><br>
    <%= render :partial => 'shared/reqs' %>
  </div>

<div class="allbox">
  <h4><%= link_to "I want to add more courses. Take me back!", scheduling_course_path %></h4><br />
  <h4><%= link_to "I want to add more requirements!", scheduling_reqs_path %></h4>
  <br><br>
  
  
  <% unless current_user.schedules.blank? %>
    <%= render :partial => 'shared/scheduleupdated' %>
    <%= render :partial => 'shared/sharing' %>
  <% else %>
    Since we could not create any schedules, let's try removing some of your softer constraints. Which ones would you like to get rid of?
  <% end %>
  
  
</div>
