<script type="text/javascript">
$(document).ready(function() {
    $("body").css("display", "none");
 
    $("body").fadeIn(2000);
 
    $("a.transition").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $("body").fadeOut(1000, redirectPage);
    });
 
    function redirectPage() {
        window.location = linkLocation;
    }
});
</script>

<div class="allbox">
  <h4><%= link_to "Add More Courses", scheduling_course_path, class:'medium nice blue radius button' %></h4>
  <h4><%= link_to "Add More Timings", scheduling_timing_path, class:'medium nice blue radius button' %></h4>
  <h4><%= link_to "Add More Requirements", scheduling_reqs_path, class:'medium nice blue radius button' %></h4>
  <br><br>
  
  <% unless current_user.schedules.blank? %>
    <%= render :partial => 'shared/scheduleupdated' %>
        
    <div class="contextbox">
    <%= render :partial => 'shared/sharing' %>
    </div>
  <% else %>
    <div class="contextbox">
        <div style="text-align:center">
     <%= form_tag url_for(:controller => 'schedules', :action => 'redo_assemble'), :method => 'get' do %>
            <strong style="text-align:center"><u>Adjust Constraints</strong></u><br></div>
      <%= radio_button_tag 'selected_redo[]', 'req' %> My <strong>requirement</strong> constraints are more important than my <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp timing constraints <br>
      <%= radio_button_tag 'selected_redo[]', 'timing' %> My <strong>timing</strong> constraints are more important than my <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp requirement constraints <br>
      <br><%= submit_tag "Delete some soft constraints", class: 'small nice red radius button' %>
    <% end %>
    </div>
  <% end %>
  
    <div class= "constraintbox">
    <%= render :partial => 'shared/constraint' %>
    <br>
    <%= render :partial => 'shared/timing' %>
    <br>
    <%= render :partial => 'shared/reqs' %>
    <br>
  </div>
  
</div>
