<h1>Which courses would you like to have?</h1>

<div class= "allbox">
  <h4><%= link_to "I am done adding courses. I want to add timing constraints.", scheduling_timing_path %></h4>
  <br><br>

  <div class= "constraintbox">
    <div id="constraints">
      <%= render :partial => 'shared/constraint' %>
    </div>
    <br><br>
    <%= render :partial => 'shared/timing' %>
    <br><br>
    <%= render :partial => 'shared/reqs' %>
  </div>
  
        <h6>Search for your course below</h6>
  <%= form_tag scheduling_course_path, :method => 'get' do %>
  <p>
    Department: <%= text_field_tag :search_department, params[:search_department] %><br>
    Number: <%= text_field_tag :search_number, params[:search_number] %><br>
    
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


  <% if @searched_courses.class == Array %>
    
    <% if @searched_courses.blank? %>
      Could not find any of those courses. Sorry!
    <% else %>
     <% @searched_courses.each do |course| %>
     <%= form_for @constraint do |f| %>
      
      <%= f.hidden_field :user_id, :value => current_user.id %>
        
          <%= f.hidden_field :course_id, :value => course.id %>
          <%= course.department %> <%= course.number %> - <%= course.name %> <%= f.submit class: 'medium nice blue radius button' %>
          <br />
        <% end %>
      <% end %>
      <br>
    
    <% end %>
    
  <% else %>
    <%= @searched_courses %>
  <% end %>


</div>


