<h1>Which worksheet requirements would you like to add?</h1>

<div class= "allbox">
    <span class="left">
  <h4><%= link_to "<< Timings", scheduling_timing_path, class:'medium nice blue radius button' %></h4></span>
  <span class="right">
  <h4>      <%= form_tag url_for(:controller => 'schedules', :action => 'create'), :method => 'get' do %>
    <%= submit_tag "Schedule Classes >>", class: 'medium nice blue radius button' %>
  <% end %></h4></span>
  
  <br><br><br><br>
 
  <div class= "constraintbox">
    <%= render :partial => 'shared/constraint' %>
    <br><br>
    <%= render :partial => 'shared/timing' %>
    <br><br>
    <%= render :partial => 'shared/reqs' %>
  </div>
  
<h6>Requirement Selection</h6>

  <%= form_for @reqconstraint do |f| %>
    <%= f.collection_select :requirement_id, Requirement.all, :id, :name %>
    I want my course to be rated ABOVE <%= f.text_field :course_rating_lb %> <br><br>
    I want the course difficulty to be BELOW <%= f.text_field :difficulty_rating_ub %><br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit class: 'medium nice blue radius button' %>
    <br /><br />
 <% end %>


</div>




