<script type="text/javascript">
$(document).ready(function() {
    $("body").css("display", "none");
 
    $("body").fadeIn(2000);
 
    $("a.transition").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $("body").fadeOut(1000, redirectPage);
    });
 
    function redirectPage() {
        window.location = linkLocation;
    }
});
</script>

<div class= "allbox">
    <div class="left">
  <h4><%= link_to "<< Timings", scheduling_timing_path, class:'medium nice blue radius button' %></h4></div>
  <div class="right">
  <h4>      <%= form_tag url_for(:controller => 'schedules', :action => 'create'), :method => 'get' do %>
    <%= submit_tag "Schedule Classes >>", class: 'medium nice blue radius button' %>
  <% end %></h4></div>
  <br><br><br><br>
  <h3>Which worksheet requirements would you like to add?</h3>

  <br>
  
<div class="querybox">
<h6 style = "text-align:center">Requirement Selection</h6><br>
 
 <%= form_tag url_for(:controller => 'reqconstraints', :action => 'create_or'), :method => 'get' do %>
    <%= check_box_tag 'selected_reqs[]', 'SS' %> Social Science <br>
    <%= check_box_tag 'selected_reqs[]', 'H' %> Humanities <br>
    <%= check_box_tag 'selected_reqs[]', 'NS' %> Natural Science <br>
    <%= check_box_tag 'selected_reqs[]', 'M' %> Math <br>
    <%= check_box_tag 'selected_reqs[]', 'E' %> Engineering <br><br>
    
    with course rating <strong>above</strong>: &nbsp <%= text_field_tag :course_rating_lb %> &nbsp
    and course difficulty <strong>below</strong>: &nbsp<%= text_field_tag :difficulty_rating_ub %><br><br>

    <center><%= submit_tag "Insert Requirement", class: 'small nice white radius button' %></center>
  <% end %>
</div>

<div class="contextbox">
    Enter the requirements which you would like to fulfill.
  </div>

<div class= "constraintbox">
    <%= render :partial => 'shared/constraint' %>
    <br>
    <%= render :partial => 'shared/timing' %>
    <br>
    <%= render :partial => 'shared/reqs' %>
    <br>
  </div>
  
 


</div>




