<h1>Which worksheet requirements would you like to add?</h1>

<div class= "allbox">
    <span class="left">
  <h4><%= link_to "<< Timings", scheduling_timing_path, class:'medium nice blue radius button' %></h4></span>
  <span class="right">
  <h4>      <%= form_tag url_for(:controller => 'schedules', :action => 'create'), :method => 'get' do %>
    <%= submit_tag "Schedule Classes >>", class: 'medium nice blue radius button' %>
  <% end %></h4></span>
  
  <br><br><br><br>
 
  <div class= "constraintbox">
    <%= render :partial => 'shared/constraint' %>
    <br><br>
    <%= render :partial => 'shared/timing' %>
    <br><br>
    <%= render :partial => 'shared/reqs' %>
  </div>
  
<h6>Requirement Selection</h6>

  <%= form_for @reqconstraint do |f| %>
    <%= f.collection_select :requirement_id, Requirement.all, :id, :name %>
    I want my course to be rated ABOVE <%= f.text_field :course_rating_lb %> <br><br>
    I want the course difficulty to be BELOW <%= f.text_field :difficulty_rating_ub %><br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit class: 'medium nice blue radius button' %>
    <br /><br />
 <% end %>
 
 <%= form_tag url_for(:controller => 'reqconstraints', :action => 'create_or'), :method => 'get' do %>
  The requirement that I want to add can be within any of these elective categories: <br>
    <%= check_box_tag 'selected_reqs[]', 'SS' %> Social Science <br>
    <%= check_box_tag 'selected_reqs[]', 'H' %> Humanities <br>
    <%= check_box_tag 'selected_reqs[]', 'NS' %> Natural Sciences <br>
    <%= check_box_tag 'selected_reqs[]', 'M' %> Math <br>
    <%= check_box_tag 'selected_reqs[]', 'E' %> Engineering <br>
    
    I want my course to be rated ABOVE <%= text_field_tag :course_rating_lb %> <br><br>
    I want the course difficulty to be BELOW <%= text_field_tag :difficulty_rating_ub %><br>

    <%= submit_tag "Insert Requirement", class: 'medium nice blue radius button' %>
  <% end %>
  
 


</div>




