<h1>When do you not want to go to class?</h1>

<div class= "allbox">
  
  <h4><%= link_to "I want to add more courses. Take me back!", scheduling_course_path %></h4>
  <br />
  <h4><%= link_to "I am done adding timings. I want to add requirement constraints.", scheduling_reqs_path %></h4>
  
  <div class= "constraintbox">
    <%= render :partial => 'shared/constraint' %>
    <br><br>
    <%= render :partial => 'shared/timing' %>
    <br><br>
    <%= render :partial => 'shared/reqs' %>
  </div>
  
  <%= form_tag url_for(:controller => 'timings', :action => 'create'), :method => 'get' do %>
    I don't want to go to class between <%= text_field_tag :start_time %>
    <%= submit_tag "Add Timing Constraint", class: 'medium nice blue radius button' %>
  <% end %>
  
<h6>Timing Selection</h6>

  <%= form_for @timing do |f| %>
    <%= f.fields_for @meeting do |builder| %>
      Start Time: <%= builder.text_field :start_time %><br />
      End Time: <%= builder.text_field :end_time %><br />
      Day of the Week (integer): <%= builder.text_field :day %><br />
    <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit class: 'medium nice blue radius button' %>
    <br /><br />
 <% end %>


</div>




