<h1>When do you not want to go to class?</h1>

<div class= "allbox">
  
  <h4><%= link_to "I want to add more courses. Take me back!", scheduling_course_path %></h4>
  <br />
  <h4>Schedule my classes by clicking below!</h4>
  <%= form_for @schedule do |f| %>
    <%= f.submit class: 'medium nice blue radius button' %>
  <% end %>
  <br /><br />
 
  <div class= "constraintbox">
    <%= render :partial => 'shared/constraint' %>
    <br><br>
    <%= render :partial => 'shared/timing' %>
  </div>
  
<h6>Timing Selection</h6>

  <%= form_for @timing do |f| %>
    <%= f.fields_for @meeting do |builder| %>
      Start Time: <%= builder.text_field :start_time %><br />
      End Time: <%= builder.text_field :end_time %><br />
      Day of the Week (integer): <%= builder.text_field :day %><br />
    <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit class: 'medium nice blue radius button' %>
    <br /><br />
 <% end %>


</div>




