<h1>When do you not want to go to class?</h1>
<%= link_to "I want to add more courses. Take me back!", scheduling_course_path %><br />
  Schedule my classes by clicking below!
  <%= form_for @schedule do |f| %>
    <%= f.submit %>
    <br /><br />
 <% end %>
<ul class="constraints">
  <%= render :partial => 'shared/constraint' %>
</ul>
<ul class="courses">
  <%= render :partial => 'shared/timing' %>
</ul>

<strong>Timing Selection</strong>

  <%= form_for @timing do |f| %>
    <%= f.fields_for :meeting do |builder| %>
      Start Time: <%= builder.text_field :start_time %><br />
      End Time: <%= builder.text_field :end_time %><br />
      Day of the Week (integer): <%= builder.text_field :day %><br />
    <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit %>
    <br /><br />
 <% end %>