<table class="profile" summary="Course information">
  <tr>
    <td class="main">
      <h1>
        <%= @course.department %> <%= @course.number %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Department</strong> <%= @course.department %><br />
      <strong>Number</strong> <%= @course.number %><br />
      <strong>Name</strong> <%= @course.name %><br />
      <strong>Instructor</strong> <%= @course.instructor %><br />
      <strong>Course Rating</strong> <%= @course.course_rating %><br />
      <strong>Instructor Rating</strong> <%= @course.instructor_rating %><br />
      <strong>Difficulty Rating</strong> <%= @course.difficulty_rating %><br />
      <strong>URL</strong>  <%= link_to course_path(@course), @course %><br />
    </td>
  </tr>
</table>