
<br><br>
<table class="profile" summary="Course information">
  <tr>
    <td class="main">
      <h1>
        <%= @course.department %> <%= @course.number_to_s %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Department</strong> <%= @course.department %><br />
      <strong>Number</strong> <%= @course.number_to_s %><br />
      <strong>Name</strong> <%= @course.name %><br />
      <strong>Course Units</strong> <%= @course.cus %><br />
      <strong>Course Rating</strong> <%= @course.course_rating %><br />
      <strong>Difficulty Rating</strong> <%= @course.difficulty_rating %><br />
      <strong>URL</strong>  <%= link_to course_path(@course), @course %><br />
    </td>
    <td>
        <strong>Sections</strong><br><br>
      <% @course.sections.each do |section| %>
        Listing: <%= section.listing %> with <%= section.instructor %><br /> who is rated <%= section.instructor_rating %><br />
        goes from
          <% section.meetings.each do |meeting| %>
            <li><%= meeting.start_time_to_s %> to <%= meeting.end_time_to_s %>
            on <%= meeting.day_to_s %> </li>
          <% end %>
        <br />
        <br>
      <% end %>
    </td>
      <td>
        <strong>Recitations</strong><br><br>
      <% @course.recitations.each do |recitation| %>
        Listing: <%= recitation.listing %> goes from
          <% recitation.meetings.each do |meeting| %>
            <li><%= meeting.start_time_to_s %> to <%= meeting.end_time_to_s %>
            on <%= meeting.day_to_s %> </li>
          <% end %>
        <br />
        <br>
      <% end %>
    </td>
      <td>
        <strong>Crosslisted Classes</strong><br><br>
      <% @course.crosslistings %>
        <br />
        <br>
    </td>
  </tr>
</table>