<header>
  
  <nav class="round"><font face="palatino", font size="4">
  <div class="headerbox">

      <!--%= link_to "Home", root_path %-->
      <%= link_to "Help", help_path %></li>
      <% if signed_in? %>
        | <%= link_to "Profile", current_user %>
        | <%= link_to "Users", users_path %>
        | <%= link_to "Settings", edit_user_path(current_user) %>
        | <%= link_to "List of Courses", courses_path %>
        | <%= link_to "Schedule Classes", scheduling_course_path %>
      <% end %>
      <!--%= link_to "Help", help_path %></li-->
      <% if signed_in? %>
        | <%= link_to "Sign out", signout_path %></li>
      <% else %>
        | <%= link_to "Sign in", signin_path %></li>
      <% end %>
      <br><br>
      <%= link_to image_tag("PSA_Logo.png",{:alt => "Penn Schedule Assembler"}), root_path %>
  </font>
  </div>
  </nav>

</header>