<header><br><br>

<font face="palatino", font size="4">

<div class="logobox"> 
<div class="left";>
  <%= link_to image_tag("PSA_LOGO_final.png",{:alt => "Penn Schedule Assembler"}), root_path %>
</div>
</div>

<% if signed_in? %>
  <div class="headerboxsignin">
    <% else %>
  <div class="headerboxsignout">
    <% end %>
    <ul class="nav-bar">
        <% if signed_in? %>
        <li>
		<a href="<%= root_path %>" class="main">Home</a>
        </li>
        <li>
		<a href="<%= user_path(current_user) %>" class="main">Profile</a>
        </li>
      <% end %>
      <% if signed_in? %>
        <li>
		<a href="<%= signout_path %>" class="main">Sign Out</a>
        </li>
	</div>
        <% else %>
        <li>
		<a href="<%= root_path %>" class="main">Home</a>
        </li>
        <li>
		<a href="<%= signin_path %>" class="main">Sign In</a>
        </li>
        </div>
        <% end %>
    </ul>
  
</font>

<br><br><br></header>